.elementTable { display:table; }
.element-row { display:table-row; }
.element-cell { display:table-cell; }

.editManager-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
	font-size: 12px;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.editManager-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
}

.editManager-menu li:hover {
    background-color: #DEF;
}